@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.notes-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a78bfa #27272a; /* purple-400 thumb, gray-800 track */
}
.notes-scrollbar::-webkit-scrollbar {
  width: 12px;
  border-radius: 8px;
}
.notes-scrollbar::-webkit-scrollbar-thumb {
  background: #a78bfa; 
  border-radius: 8px;
}
.notes-scrollbar::-webkit-scrollbar-track {
  background: #27272a; /* gray-800 */
  border-radius: 8px;
}
